
/* Стили для таблицы */
.transaction-history {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
    max-width: 900px;
}

.transaction-history th {
    background-color: #444;
    color: white;
    font-weight: bold;
    padding: 10px;
}   

.transaction-history td {
    padding: 10px;
}

.transaction-history tr:nth-child(even) {
    background-color: #9999;
}

.transaction-history tr:nth-child(odd) {
    background-color: #fff;
}

.transaction-history th,
.transaction-history td {
    border: 3px solid #333;
}

.transaction-history th {
    text-transform: capitalize;
}